In [2]:
from __future__ import print_function

import sys
import re
from operator import add 
import pandas as pd
from pyspark.sql.types import StructField, StructType, StringType
from pyspark.sql import Row
from pyspark.sql.types import *
from pyspark.sql import SQLContext
import json
import boto
import boto3
from boto.s3.key import Key
import boto.s3.connection
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().setAppName("first")
#sc = SparkContext(conf=conf)
spark._jsc.hadoopConfiguration().set("fs.s3n.awsAccessKeyId",'xxx')
spark._jsc.hadoopConfiguration().set("fs.s3n.awsSecretAccessKey",'xxx')
config_dict = {"fs.s3n.awsAccessKeyId":"xxx",
               "fs.s3n.awsSecretAccessKey":"xxx"}
bucket = "project4capstones3"
prefix = "/2017/06/16//14/project*"
filename = "s3n://{}/{}".format(bucket, prefix)
warehouse_location = 'spark-warehouse'
rdd = sc.hadoopFile(filename,
            'org.apache.hadoop.mapred.TextInputFormat',
            'org.apache.hadoop.io.Text',
            'org.apache.hadoop.io.LongWritable',
            conf=config_dict)
spark_sess = SparkSession \
        .builder \
        .appName("Python Spark SQL Hive integration example") \
        .config("spark.sql.warehouse.dir", warehouse_location) \
        .enableHiveSupport() \
        .getOrCreate()
# spark_sess = SparkSession.builder.appName("PythonWordCount").getOrCreate()
#spark_sess.read.json(rdd).show()
#spark_sess.read.json(rdd.map(lambda x: x[1])).show()

In [41]:
df = spark_sess.read.json(rdd.map(lambda x: x[1]))

In [42]:
data_rm_na = df.filter(df['status_id']!='None')

In [43]:
features_of_interest = ['user_followers_count', 'user_friends_count', 'user_statuses_count', 'rt_status_retweet_count', 'rt_status_favorite_count',
                        'rt_status_entities_user_mentions','user_listed_count', 'status_num_mentions', 'status_retweet_count', 'status_geo',
                        'status_hashtags','user_name', 'user_loc', 'status_text', 'user_desc', 'user_img_url', 'user_id', 'searched_names', 
                        'status_sentMag', 'status_sentScore']

In [44]:
df_reduce= data_rm_na.select(features_of_interest)
df_reduce = df_reduce.withColumn("user_followers_count", df_reduce["user_followers_count"].cast(IntegerType()))
df_reduce = df_reduce.withColumn("user_friends_count", df_reduce["user_friends_count"].cast(IntegerType()))
df_reduce = df_reduce.withColumn("user_statuses_count", df_reduce["user_statuses_count"].cast(IntegerType()))
df_reduce = df_reduce.withColumn("rt_status_retweet_count", df_reduce["rt_status_retweet_count"].cast(IntegerType()))
df_reduce = df_reduce.withColumn("user_listed_count", df_reduce["user_listed_count"].cast(IntegerType()))
df_reduce = df_reduce.withColumn("status_num_mentions", df_reduce["status_num_mentions"].cast(IntegerType()))
df_reduce = df_reduce.withColumn("status_retweet_count", df_reduce["status_retweet_count"].cast(IntegerType()))
# df_reduce = df_reduce.withColumn(“status_sentMag”, df_reduce[“status_sentMag”].cast(DoubleType()))
# df_reduce = df_reduce.withColumn(“status_sentScore”, df_reduce[“status_sentScore”].cast(DoubleType()))
df_reduce = df_reduce.withColumn("rt_status_favorite_count", df_reduce["rt_status_favorite_count"].cast(IntegerType()))

In [45]:
# for i in numeric_features:
#     print(i)
#     df_reduced_num = df_reduced_num.withColumn(i, df_reduced_num[i].cast('float'))
# #     df_reduced_num.select(df_reduced_num.user_followers_count.cast('float'))

In [46]:
max_user_followers_count = df_reduce.select('user_followers_count').rdd.flatMap(list).max()


df_reduce = df_reduce.withColumn('user_followers_count', df_reduce['user_followers_count'] / max_user_followers_count)
### reputation ####
df_reduce = df_reduce.withColumn('reputation',(df_reduce.user_followers_count*df_reduce.user_statuses_count)/(df_reduce.user_friends_count+1)+10)
#listed_count rescale
max_listed_count = df_reduce.select('user_listed_count').rdd.flatMap(list).max()
df_reduce = df_reduce.withColumn('user_listed_count',df_reduce.user_listed_count/max_listed_count)

### RESONANCE #####
#status_num_count rescale 
max_status_num_mentions  = df_reduce.select('status_num_mentions').rdd.flatMap(list).max()
df_reduce = df_reduce.withColumn('status_num_mentions',df_reduce.status_num_mentions/max_status_num_mentions)

# retweets_received rescale
max_retweets_received  = df_reduce.select('rt_status_retweet_count').rdd.flatMap(list).max()
df_reduce = df_reduce.withColumn('retweets_received',df_reduce.rt_status_retweet_count/max_retweets_received)

### ENGAGEMENT ###
# mentions_ratio
df_reduce= df_reduce.withColumn('mentions_ratio',df_reduce.status_num_mentions/(df_reduce.user_statuses_count+1)+1)

# retweets_given_ratio
df_reduce= df_reduce.withColumn('retweets_given_ratio',df_reduce.status_retweet_count/(df_reduce.user_statuses_count+1)+1)

#number_of_tweets rescale
max_user_statuses_count  = df_reduce.select('user_statuses_count').rdd.flatMap(list).max()
df_reduce = df_reduce.withColumn('number_of_tweets',df_reduce.user_statuses_count/max_user_statuses_count)

root
 |-- user_followers_count: double (nullable = true)
 |-- user_friends_count: integer (nullable = true)
 |-- user_statuses_count: integer (nullable = true)
 |-- rt_status_retweet_count: integer (nullable = true)
 |-- rt_status_favorite_count: integer (nullable = true)
 |-- rt_status_entities_user_mentions: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- user_listed_count: double (nullable = true)
 |-- status_num_mentions: double (nullable = true)
 |-- status_retweet_count: integer (nullable = true)
 |-- status_geo: string (nullable = true)
 |-- status_hashtags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- user_name: string (nullable = true)
 |-- user_loc: string (nullable = true)
 |-- status_text: string (nullable = true)
 |-- user_desc: string (nullable = true)
 |-- user_img_url: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- searched_names: string (nullable = true)
 |-- status_sentMag: double (nullable = true)
 |-- status_sentScore: double (nullable = true)
 |-- reputation: double (nullable = true)
 |-- retweets_received: double (nullable = true)
 |-- mentions_ratio: double (nullable = true)
 |-- retweets_given_ratio: double (nullable = true)
 |-- number_of_tweets: double (nullable = true)

In [28]:
type(df_reduce)

pyspark.sql.dataframe.DataFrame

In [14]:
spark.sql("SHOW TABLES").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [32]:
df_reduce.createOrReplaceTempView("twitterHive")

In [33]:
spark.sql("SHOW TABLES").show()

+--------+-----------+-----------+
|database|  tableName|isTemporary|
+--------+-----------+-----------+
|        |twitterhive|       true|
+--------+-----------+-----------+

In [34]:
spark.sql("SELECT * FROM twitterHive").show()

+--------------------+------------------+-------------------+-----------------------+------------------------+--------------------------------+--------------------+-------------------+--------------------+----------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------+--------------+----------------+------------------+--------------------+------------------+--------------------+--------------------+
|user_followers_count|user_friends_count|user_statuses_count|rt_status_retweet_count|rt_status_favorite_count|rt_status_entities_user_mentions|   user_listed_count|status_num_mentions|status_retweet_count|status_geo|     status_hashtags|         user_name|            user_loc|         status_text|           user_desc|        user_img_url|           user_id|searched_names|status_sentMag|status_sentScore|        reputation|   retweets_received|    mentions_ratio|retweets_given_ratio|    number_of_tweets|
+--------------------+------------------+-------------------+-----------------------+------------------------+--------------------------------+--------------------+-------------------+--------------------+----------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------+--------------+----------------+------------------+--------------------+------------------+--------------------+--------------------+
|1.440010842434578...|               214|                976|                   null|                    null|                              []|1.681520094165125...|                0.0|                   0|      None|                  []|  J. Michael Hurst|      Cincinnati, OH|whoa... https://t...|Trademark and Int...|http://pbs.twimg....|         102549500|        Amazon|           0.1|             0.1|10.000653697945216|                null|               1.0|                 1.0|0.001122237668321...|
|0.003111552839927...|              1088|              70428|                      1|                       0|                              []|0.001513368084748...|                0.1|                   0|      None|                  []|    xxxtensioncord|        Georgia, USA|RT @JoshTweets0: ...|                None|http://pbs.twimg....|         226741395|        Amazon|           0.5|             0.2|10.201230893857113|1.158211721102617...| 1.000001419869656|                 1.0| 0.08098048617267513|
|2.512960097581911...|                93|                896|                   null|                    null|                              []|0.002858584160080713|                0.0|                   0|      None|                  []|    Naren Chelluri|   San Francisco, CA|Amazon to Buy Who...|Director, Product...|http://pbs.twimg....|          40218668|        Amazon|           0.2|             0.2|10.002395332178121|                null|               1.0|                 1.0|0.001030250974196...|
|6.127104957025559E-4|               736|               4386|                   null|                    null|                              []| 0.00924836051790819|                0.0|                   0|      None|                  []|       Ken Wattana|       Palo Alto, CA|Somewhere in Bent...|Marketing @forger...|http://pbs.twimg....|         592249034|        Amazon|           0.7|            -0.7|10.003646334103326|                null|               1.0|                 1.0|0.005043170505386...|
|0.040981014445285235|              1198|              21777|                     72|                     190|                              []|0.001513368084748...|                0.1|                   0|      None|                  []|    Tyler Jenkins.| Greenwich CT / B...|RT @barstoolsport...|That Kid. #Jaguar...|http://pbs.twimg....|          53215171|        Amazon|           0.4|             0.4|10.744323229003317|0.008339124391938846|1.0000045917898797|                 1.0|  0.0250399279744185|
|0.058506793462915485|              3242|               9672|                   null|                    null|                              []|0.029426601647889693|                0.2|                   0|      None|                  []|       marvin chow|  san francisco, usa|Whoah. Shit just ...|VP Product Market...|http://pbs.twimg....|          16054093|        Amazon|           1.1|             0.0|10.174492046368584|                null|1.0000206761087562|                 1.0| 0.01112119131967561|
|0.003196259360070476|               736|               3570|                   3462|                    4038|                              []|0.009752816546157726|                0.1|                   0|      None|                  []|          Dan Holm|                None|RT @dkberman: Ama...|Modern marketer @...|http://pbs.twimg....|          13103402|        Amazon|           0.6|             0.3|10.015482558908348|  0.4009728978457262|1.0000280033604032|                 1.0|0.004104906225314...|
|0.001137890920590461|               454|              12953|                     72|                     190|                              []|8.407600470825626E-4|                0.1|                   0|      None|                  []|        ChrissyBoy|                None|RT @barstoolsport...|                None|http://pbs.twimg....|        2226112261|        Amazon|           0.4|             0.4| 10.03239362877892|0.008339124391938846|1.0000077196232824|                 1.0|0.014893795612464657|
|0.001109655413876...|               354|               2382|                    442|                     334|                              []|0.005212712291911888|                0.1|                   0|      None|                  []|              mari|             Atlanta|RT @Forbes: Amazo...|One sad Atlanta S...|http://pbs.twimg....|         402863754|        Amazon|           0.0|             0.0|10.007445631537614|0.051192958072735696|1.0000419639110365|                 1.0|0.002738903817562...|
|2.767079658011543E-4|               504|               9380|                     19|                      11|                              []|0.001849672103581...|                0.1|                   0|      None|[Amazon, WholeFoods]|             Karen|      Wisconsin, USA|RT @Reuters: #Ama...|Avid reader of Hi...|http://pbs.twimg....|        4438741393|        Amazon|           0.2|             0.2|10.005139644988544|0.002200602270094973|1.0000106598443663|                 1.0|0.010785439886120473|
|1.835307936436227...|              1481|               4003|                   null|                    null|                              []|0.001513368084748...|                0.1|                   0|      None|          [giveaway]|     Trudy Spiller|Milford, Connecti...|20% Off Yoga Pant...|                None|http://pbs.twimg....|        3366715749|        Amazon|           0.4|             0.4|10.000495731286744|                null| 1.000024975024975|                 1.0|0.004602784207264...|
|7.905941880032979E-5|               671|               1937|                   null|                    null|                              []|                 0.0|                0.0|                   0|      None|          [giveaway]|Angela Blankenship|         Jackson, OH|20% Off Grey Yoga...|Not sure there is...|http://pbs.twimg....|816694908979412992|        Amazon|           0.4|             0.4|10.000227884068774|                null|               1.0|                 1.0|0.002227227831494...|
|0.001033419545747168|               296|              13918|                   null|                    null|                              []|5.044560282495376E-4|                0.0|                   0|      None|                  []|              Will|             Warwick|Wow thats crazy. ...|idc. #nativeameri...|http://pbs.twimg....|         100586105|        Amazon|           1.1|            -0.1|10.048428058039425|                null|               1.0|                 1.0|0.016003385110343788|
|2.484724590867508E-4|              1282|               2886|                   null|                    null|                              []|8.407600470825626E-4|                0.0|                   0|      None|          [giveaway]|      Sherry Price|                None|20% Off Grey Yoga...|                None|http://pbs.twimg....|          41135968|        Amazon|           0.4|             0.4| 10.00055891778404|                null|               1.0|                 1.0|0.003318419990548...|
|1.694130402864209...|                29|                 51|                   null|                    null|                              []|                 0.0|                0.0|                   0|      None|          [giveaway]|       Daniel Cruz|     Port Orange, FL|Wow! I just enter...|Entertainer, Spec...|http://pbs.twimg....|         851936227|        Amazon|           0.6|             0.1|10.000028800216848|                null|               1.0|                 1.0|5.864151750449297...|
|4.263561513874928E-4|               172|               1461|                   null|                    null|                              []|                 0.0|                0.1|                   0|      None|                  []|       Chikondi N |          Zambia USA|@Orrieos I know! ...|Chemist  Art Love...|http://pbs.twimg....|         576478469|        Amazon|           0.6|             0.3|10.003600614665764|                null|1.0000683994528043|                 1.0| 0.00167990700145224|
|0.001809895980393...|               311|              24688|                   1228|                    1412|                              []|8.407600470825626E-4|                0.1|                   0|      None|                  []|      Noah Johnson|Minneapolis | Pho...|RT @darrenrovell:...|                None|http://pbs.twimg....|         327178001|        Amazon|           0.5|             0.2|10.143213820397271| 0.14222839935140144| 1.000004050386812|                 1.0|0.028387093806880835|
|6.494166544312804E-5|              1208|               3113|                   null|                    null|                              []|                 0.0|                0.0|                   0|      None|          [giveaway]|         Karen Dye|                None|30% Off Rose Gold...|                None|http://abs.twimg....|847213217092898817|        Amazon|           0.4|             0.4|10.000167215388357|                null|               1.0|                 1.0|0.003579432235127189|
|4.461210060875752E-4|               290|               8075|                   null|                    null|                              []|0.001681520094165...|                0.1|                   0|      None|                  []|            Lauu. |       Paris, France|At Last, Jeff Bez...|                None|http://pbs.twimg....|          54213724|        Amazon|           0.4|             0.4| 10.01237947465346|                null|1.0000123823675087|                 1.0|0.009284906938211388|
|2.795315164725946...|               307|              15012|                     37|                      24|                              []|1.681520094165125...|                0.1|                   0|      None|                  []|              Jess|                  MN|RT @scalzi: I mea...|Writer and Artist...|http://pbs.twimg....|        3340529693|        Amazon|           0.3|             0.0|10.013624438718463|0.004285383368079685| 1.000006660893892|                 1.0| 0.01726130315249899|
+--------------------+------------------+-------------------+-----------------------+------------------------+--------------------------------+--------------------+-------------------+--------------------+----------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------+--------------+----------------+------------------+--------------------+------------------+--------------------+--------------------+
only showing top 20 rows

In [36]:
df_writer = pyspark.sql.DataFrameWriter(df_reduce)

In [38]:
df_writer.saveAsTable('test_table', mode='overwrite')

Py4JJavaError: An error occurred while calling o833.saveAsTable.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply$mcV$sp(FileFormatWriter.scala:147)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:121)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:57)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:121)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:101)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:58)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:56)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:74)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:114)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:114)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:135)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:113)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:92)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:92)
	at org.apache.spark.sql.execution.datasources.DataSource.writeInFileFormat(DataSource.scala:484)
	at org.apache.spark.sql.execution.datasources.DataSource.writeAndRead(DataSource.scala:500)
	at org.apache.spark.sql.execution.command.CreateDataSourceTableAsSelectCommand.run(createDataSourceTables.scala:263)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:58)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:56)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:74)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:114)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:114)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:135)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:132)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:113)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:92)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:404)
	at org.apache.spark.sql.DataFrameWriter.saveAsTable(DataFrameWriter.scala:358)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 24.0 failed 1 times, most recent failure: Lost task 0.0 in stage 24.0 (TID 182, localhost, executor driver): java.io.IOException: Mkdirs failed to create file:/Users/clairevignon/DataScience/NYC_DSA/project4_capstone/capstone_project/spark/spark-warehouse/test_table/_temporary/0/_temporary/attempt_20170617195923_0024_m_000000_0 (exists=false, cwd=file:/Users/yogadude/capstone_project/Spark)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:455)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.parquet.hadoop.ParquetFileWriter.<init>(ParquetFileWriter.java:223)
	at org.apache.parquet.hadoop.ParquetOutputFormat.getRecordWriter(ParquetOutputFormat.java:312)
	at org.apache.parquet.hadoop.ParquetOutputFormat.getRecordWriter(ParquetOutputFormat.java:283)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetOutputWriter.<init>(ParquetOutputWriter.scala:37)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$$anon$1.newInstance(ParquetFileFormat.scala:149)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$SingleDirectoryWriteTask.<init>(FileFormatWriter.scala:234)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.org$apache$spark$sql$execution$datasources$FileFormatWriter$$executeTask(FileFormatWriter.scala:182)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1$$anonfun$3.apply(FileFormatWriter.scala:129)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1$$anonfun$3.apply(FileFormatWriter.scala:128)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:322)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1925)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1938)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1958)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply$mcV$sp(FileFormatWriter.scala:127)
	... 43 more
Caused by: java.io.IOException: Mkdirs failed to create file:/Users/clairevignon/DataScience/NYC_DSA/project4_capstone/capstone_project/spark/spark-warehouse/test_table/_temporary/0/_temporary/attempt_20170617195923_0024_m_000000_0 (exists=false, cwd=file:/Users/yogadude/capstone_project/Spark)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:455)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:440)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:911)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:892)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:789)
	at org.apache.parquet.hadoop.ParquetFileWriter.<init>(ParquetFileWriter.java:223)
	at org.apache.parquet.hadoop.ParquetOutputFormat.getRecordWriter(ParquetOutputFormat.java:312)
	at org.apache.parquet.hadoop.ParquetOutputFormat.getRecordWriter(ParquetOutputFormat.java:283)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetOutputWriter.<init>(ParquetOutputWriter.scala:37)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$$anon$1.newInstance(ParquetFileFormat.scala:149)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$SingleDirectoryWriteTask.<init>(FileFormatWriter.scala:234)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.org$apache$spark$sql$execution$datasources$FileFormatWriter$$executeTask(FileFormatWriter.scala:182)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1$$anonfun$3.apply(FileFormatWriter.scala:129)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1$$anonfun$3.apply(FileFormatWriter.scala:128)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:322)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more